<div class="content_title">
    <i class="icon icon_direction"></i>
    <span>舆情监听 > 微博信息</span>
</div>
<div class="sel_condition">
    <div class="hight-search">
        <div class="high-search-left-btn">
            <button id="lqAll" class="btn-info-n currentredBtn">全部</button>
            <button id="lqToday" class="btn-info-n">今日</button>
            <button id="lqWeek" class="btn-info-n">本周</button>
            <button id="lqMonth" class="btn-info-n">本月</button>
        </div>
        <div class="high-search-left-key">
            <input type="text" id="lqTitle" title="关键字">
            <button id="lqsearch" class="btnn btn-defaultsmall">搜索</button>
        </div>
            
        <button id="hqsearch" class="btnn btn-defaultbig">高级搜索</button>
    </div>
    <div class="navbar-form hight-search-list" role="search">
        <div class="form-group">
            <span>日期：</span>
            <div class="input-group date form_date col-md-5">
                <input id="qDateStart" class="form-control" size="16" type="text" value="">
                <span class="input-group-addon input-group-addona"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <span> - </span>
            <div class="input-group date form_date col-md-5">
                <input id="qDateEnd" class="form-control" size="16" type="text" value="">
                <span class="input-group-addon input-group-addona"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <div class="form-group">
            <span>预警：</span>
            <select id="PosAndNegRating" class="form-control">
                <option value="-2">请选择</option>
                <option value="-1">正面</option>
                <option value="0">中性</option>
                <option value="1">负面</option>
            </select>
        </div>
        <div class="form-group">
            <span>舆情状态：</span>
            <select id="qState" class="form-control">
                <option value="-2">请选择</option>
                <option value="0">未处理</option>
                <option value="1">已处理</option>
            </select>
        </div>
        <div class="form-group">
            <span>关键字：</span>
            <input type="text" id="qTitle" class="form-control" title="关键字">
        </div>
        <button id="search" class="btnn btn-defaultsmall">搜索</button>
        <button class="btnn btn-graysmall" id="back">返回</button>
    </div>
</div>
<div style="margin-bottom:10px">共有<span id="totalcount" style="font-weight:bold;padding:0px 3px">...</span>条结果</div>
<div class="table-responsive news_newslist weiboNews-i">
    <table id="list1" class="table table-hover">
        <thead>
            <tr>
                <th class="serialNum">预警</th>
                <th class="left">舆情内容</th>
                <th class="handle">来源</th>
                <th class="come-user">作者</th> 
                <th class="w120">日期</th>
                <!--<th class="w120">是否敏感</th>
                <th class="w120">舆情状态</th>-->
                <!--<th class="handle">一键追踪</th>-->
                <th class="handle">操作</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:weibo">
            <tr>
                <!--<td><i data-bind="css:{icon:true,icon_greenmark:score>=50,icon_lightGreenmark:score<=50&&score>20,icon_yellowmark:score<=20&&score>0,icon_orangemark:score<=0&&score>-50, icon_redmark:score<=-50}"></i></td>-->
                <td><i data-bind="attr:{title:score>3?'正面':(score<=3&&score>=-3?'中性':'负面')},css:{icon:true,icon_greenmark:score>3,icon_yellowmark:score<=3&&score>=-3,icon_redmark:score<-3}"></i><!--<span data-bind="text: score>0?'正面':(score==0?'中性':'负面')"></span>--></td>
                <td class="left textover"><a data-bind="attr:{href: url,title:status_text},html:highWords(status_text.trim())" onclick="window.open(this.href, '_blank', 'width=800,height=600,top=100,left=200,toolbar=no,resizable=no,location=no,menubar=no,scrollbars,scrollbars=yes'); return false"></a></td>
                <td><div data-bind="attr:{title: window.baseTools.translateWeiBoSource(search_engine)},text:window.baseTools.translateWeiBoSource(search_engine)"></div></td>
                <td><div class="comefrome" data-bind="attr:{title:user_name},text:user_name"></div></td>
                <td data-bind="text: isToday(created_date)?formatDate(created_date).substr(11,8):formatDate(created_date).substr(0,10),style:{color:isToday(created_date)?'rgba(206, 51, 28, 1)':'#333'}"></td>
                <!--<td><input name="sen" type="checkbox" data-bind="checked:is_sensitive,value:b_id " data-size="small" data-on-text="是" data-off-text="否" /></td>
                <td><input name="sta" type="checkbox" data-bind="checked:status==1,value:$index()" data-size="small" data-on-text="已处理" data-off-text="未处理" /></td>-->
                <!--<td><i class="icon icon_tracksource" title="一键追踪" data-bind="click:$root.showTraceModal"></i></td>-->
                <!--<td><i class="icon icon_emhand" title="应急处理" data-bind="click:$root.showEmerModal,css:{icon_emhanddisable:status==1, icon_emhand:status==0},value:$index()"></i></td>-->
                <td><i class="icon icon_emhand" title="操作" data-bind="click:$root.showEmerModal,value:$index()"></i></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" style=" text-align:right;">
                    <ul class="pagination pagination-sm" id="pagination"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div id="emer"></div>
<div id="track"></div>
<script src="/js/grain.js"></script>
<script src="/js/business/weiboMonitor.js"></script>