
<div class="content_title">
    <i class="icon icon_direction"></i>
    <span>权限管理 > 用户管理</span>
</div>
<div class="sel_condition">
    <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <span>用户名：</span>
            <input type="text" id="qUserName" class="form-control">
        </div>
        <div class="form-group">
            <span>状态：</span>
            <select id="qStatus" class="form-control">
                <option value="-1">请选择</option>
                <option value="0">未启用</option>
                <option value="1">启用</option>
            </select>
        </div>
        <button class="btn btn-default ml10" id="search">查找</button>
        <a class="btn btn-primary ml10" data-toggle="modal" id="addUser">添加</a>
        <a class="btn btn-primary ml10" data-toggle="modal" id="upApp">UpApp</a>
    </div>
</div>
<div class="table-responsive">
    <table id="list1" class="table table-hover">
        <thead>
            <tr>
                <th class="serialNum">序号</th>
                <th class="left">用户名</th>
                <th class="left">所在用户组</th>
                <th class="w120">状态</th>
                <th class="handle">操作</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:users">
            <tr>
                <td data-bind="text:$root.getNum(1,$index())"></td>
                <td class="left"><a data-bind="text: username,click: $root.showUser"></a></td>
                <td data-bind="text: groupname" class="left"></td>
                <td data-bind="text:status?'启用':'未启用'"></td>
                <td><i data-toggle="modal" data-bind="click: $root.showEdieUserModal" class="icon icon_edit" title="编辑"></i><i class="icon icon_delete" data-bind="click: $root.removeUser" title="删除"></i></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" style=" text-align:right;">
                    <ul class="pagination pagination-sm" id="pagination"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModalUser" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="width:940px;">
        <div class="modal-content form-horizontal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑用户信息</h4>
            </div>
            <div id="useredit" class="modal-body modal-lg">
                <div class="form-group">
                    <label for="eUserName" class="col-sm-2 control-label"><span class='inp required-xing'>*</span>用户名：</label>
                    <div class="col-sm-4">
                        <input type="text" id="eUserName" class="form-control inp required">
                        <p class="lab form-control-static" id="lUserName"></p>
                    </div>
                    <label for="eStatus" class="col-sm-2 control-label"><span class='inp required-xing'>*</span>状态：</label>
                    <div class="col-sm-4">
                        <select id="eStatus" class="form-control inp required">
                            <option value="-1">请选择</option>
                            <option value="0">未启用</option>
                            <option value="1">启用</option>
                        </select>
                        <p class="lab form-control-static" id="lStatus"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ePhone" class="col-sm-2 control-label">联系电话：</label>
                    <div class="col-sm-4">
                        <input type="tel" id="ePhone" class="form-control inp" placeholder="Tel">
                        <p class="lab form-control-static" id="lPhone"></p>
                    </div>
                    <label for="eEmail" class="col-sm-2 control-label">邮箱：</label>
                    <div class="col-sm-4">
                        <input type="email" id="eEmail" class="form-control inp" placeholder="Email">
                        <p class="lab form-control-static" id="lEmail"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="eRemoved" class="col-sm-2 control-label pwd">密码：</label>
                    <div class="col-sm-4 pwd">
                        <input type="text" id="ePwd" class="form-control inp">
                    </div>
                    <label for="eGroup" class="col-sm-2 control-label"><span class='inp required-xing'>*</span>所在用户组：</label>
                    <div class="col-sm-4">
                        <select id="eGroup" class="form-control inp required">
                            <option value="-1">请选择</option>
                        </select>
                        <p class="lab form-control-static" id="lGroup"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="resetPwd">密码重置</button>
                <button type="button" class="btn btn-success" id="saveUser">保存</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/business/usermanage.js"></script>