<div id="eyelid5" class="eyelid5">
    <div class="kbh-content kbh-cityManage">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>城市管理综合指数图</div>
        <div id="ci_0" style="width:100%;"></div>
    </div>
    <div class="kbh-content kbh-safe">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>安全指数</div>
        <div id="ci_1" style="width:100%;"></div>
    </div>
    <div class="kbh-content nt_hotword_safe">
        <div class="kbh-title"><i class="nt_icon ntiword"></i>安全热词</div>
        <div class="forum-hot" data-bind="foreach:securityWord">
            <div data-bind="text:word_name"></div>
        </div>
    </div>
    <div class="kbh-content nt_hotword_tra">
        <div class="kbh-title"><i class="nt_icon ntiword"></i>交通热词</div>
        <div class="forum-hot" data-bind="foreach:trafficWord">
            <div data-bind="text:word_name"></div>
        </div>
    </div>
    <div class="kbh-content kbh-traffic">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>交通指数</div>
        <div id="ci_2" style="width:100%;"></div>
    </div>

    <div class="kbh-content kbh-hbzs">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>环保指数</div>
        <div id="ci_3" style="width:100%;"></div>
    </div>
    <div class="kbh-content nt_hotword_hb">
        <div class="kbh-title"><i class="nt_icon ntiword"></i>环保热词</div>
        <div class="forum-hot" data-bind="foreach:envirWord">
            <div data-bind="text:word_name"></div>
        </div>
    </div>
    <div class="kbh-content nt_hotword_cj">
        <div class="kbh-title"><i class="nt_icon ntiword"></i>城建热词</div>
        <div class="forum-hot" data-bind="foreach:cityWord">
            <div data-bind="text:word_name"></div>
        </div>
    </div>
    <div class="kbh-content nt_cj">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>城建指数</div>
        <div id="ci_4" style="width:100%;"></div>
    </div>

    <div class="kbh-content">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>电力指数</div>
        <div id="ci_5" style="width:100%;"></div>
    </div>
    <div class="kbh-content">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>水利指数</div>
        <div id="ci_6" style="width:100%;"></div>
    </div>
</div>