<div id="eyelid4" class="eyelid4">
    <div class="kbh-content kbh-economic">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>经济综合指数图</div>
        <div id="ei_0" style="width:100%;"></div>
    </div>
    <div class="kbh-content nt_hotword_gy">
        <div class="kbh-title"><i class="nt_icon ntiword"></i>工业热词</div>
        <div class="forum-hot" data-bind="foreach:industryWord">
            <div data-bind="text:word_name"></div>
        </div>
    </div>
    <div class="kbh-content nt_gy">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>工业指数</div>
        <div id="ei_1" style="width:100%;"></div>
    </div>

    <div class="kbh-content kbh-agriculture">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>农业指数</div>
        <div id="ei_2" style="width:100%;"></div>
    </div>
    <div class="kbh-content nt_hotword_eco">
        <div class="kbh-title"><i class="nt_icon ntiword"></i>农业热词</div>
        <div class="forum-hot" data-bind="foreach:agriWord">
            <div data-bind="text:word_name"></div>
        </div>
    </div>
    <div class="kbh-content nt_hotword_bui">
        <div class="kbh-title"><i class="nt_icon ntiword"></i>商业热词</div>
        <div class="forum-hot" data-bind="foreach:commerWord">
            <div data-bind="text:word_name"></div>
        </div>
    </div>
    <div class="kbh-content kbh-business">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>商业指数</div>
        <div id="ei_3" style="width:100%;"></div>
    </div>

    <div class="kbh-content">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>金融指数</div>
        <div id="ei_4" style="width:100%;"></div>
    </div>
    <div class="kbh-content nt_travel">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>旅游指数</div>
        <div id="ei_5" style="width:100%;"></div>
    </div>
    <div class="kbh-content nt_hotword_travel">
        <div class="kbh-title"><i class="nt_icon ntiword"></i>旅游热词</div>
        <div class="forum-hot" data-bind="foreach:travWord">
            <div data-bind="text:word_name"></div>
        </div>
    </div>
</div>