<div class="top-right-three">
    <div class="three-content" data-bind="foreach:words">
        <!--内容随机class 1dao9-->

        <span class="zh_word1" data-bind="text:word_name,attr:{class:'zh_word'+Math.floor(Math.random()*9+1)}">沙尘暴</span>

        <!--<span class="zh_word1">沙尘暴</span>
        <span class="zh_word1">沙尘暴</span>
        <span class="zh_word2">城镇医保</span>
        <span class="zh_word3">沙尘暴</span>
        <span class="zh_word4">雾霾</span>
        <span class="zh_word8">展览会开幕</span>
        <span class="zh_word7">大数据</span>
        <span class="zh_word4">雾霾</span>
        <span class="zh_word6">沙尘暴</span>
        <span class="zh_word9">雾霾</span>
        <span class="zh_word7">雾霾</span>
        <span class="zh_word4">雾霾</span>
        <span class="zh_word7">六月北京</span>-->
    </div>
    <div class="three-title">综合热词</div>
</div>