<div id="eyelid6" class="eyelid6">
    <div class="kbh-content kbh-people">
        <div class="kbh-title"><i class="nt_icon ntiline"></i>民生综合指数图</div>
        <div id="pi_0" style="width:100%;"></div>
    </div>
    <div class="kbh-content nt_hotword_peo">
        <div class="kbh-title"><i class="nt_icon ntiword"></i>教育热词</div>
        <div class="forum-hot" data-bind="foreach:geteduhotwords">
            <div data-bind="text:word_name"></div>
        </div>
    </div>
    <div class="kbh-content nt_hotword_peo1">
        <div class="kbh-title"><i class="nt_icon ntiword"></i>健康热词</div>
        <div class="forum-hot" data-bind="foreach:getheahotwords">
            <div data-bind="text:word_name"></div>
        </div>
    </div>
    <div class="kbh-content nt_hotword_peo">
        <div class="kbh-title"><i class="nt_icon ntiword"></i>养老热词</div>
        <div class="forum-hot" data-bind="foreach:getoldhotwords">
            <div data-bind="text:word_name"></div>
        </div>
    </div>
    <div class="kbh-content nt_hotword_peo1">
        <div class="kbh-title"><i class="nt_icon ntiword"></i>文体热词</div>
        <div class="forum-hot" data-bind="foreach:getlithotwords">
            <div data-bind="text:word_name"></div>
        </div>
    </div>
</div>