<div id="eyelid1" class="eyelid1">
    <div class="top-right-two">
        <div class="media">
            <div class="pull-left title-weibo">
                预<br />
                警<br />
                应<br />
                急
            </div>
            <div class="media-body">
                <div class="hot-word" id="warning">
                    <div class="col-xs-7 col-sm-7 col-md-7">
                        <div class="warn_content warn_img">
                            <a href="templates/WarningModel2.html" target="_blank"><img src="../img/warning.png" class="img-responsive" data-toggle="modal" data-target="#myModal" /></a>
                            <img src="../img/transparent.gif" class="alpha_img" />
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                        <div class="warn_content warn_text"><a href="templates/WarningModel2.html" target="_blank">各级应急预案</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:80%;height:100%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">洪泽市各级应急预案</h4>
                </div>
                <div class="modal-body">
                    <div style="float: left;width:68%;margin-right:10px;">
                        <img src="../images/Alert.gif" style="width:100%;"  />
                    </div>
                    <div style="float: right;width:30%;">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-selected="true">洪泽市公路交通突发公共事件应急预案
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="warning_con">
                                            <ul>
                                                <li>值班电话：0513-85151252</li>
                                                <li>详细内容：<a href="http://www.ntjt.gov.cn/contents/1667/47157.html" target="_blank">http://www.ntjt.gov.cn/contents/1667/47157.html</a></li>
                                                <li>
                                                    <button type="button" class="btn btn-primary" onclick="sendToContact()">点击此处发送消息至以下联系人</button>
                                                    <ul>
                                                        <li>张三 15115625421</li>
                                                        <li>李四 15115625421</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-selected="false">洪泽市辐射事故应急预案
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="warning_con">
                                            <ul>
                                                <li>值班电话：0513-85158666</li>
                                                <li>详细内容：<a href="http://hbj.nantong.gov.cn/art/2010/7/30/art_22060_660464.html" target="_blank">http://hbj.nantong.gov.cn/art/2010/7/30/art_22060_660464.html</a></li>
                                                <li>
                                                    <button type="button" class="btn btn-primary" onclick="sendToContact()">点击此处发送消息至以下联系人</button>
                                                    <ul>
                                                        <li>张三 15115625421</li>
                                                        <li>李四 15115625421</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" aria-expanded="false" aria-selected="false">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">洪泽市旅游突发事件应急预案
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="warning_con">
                                            <ul>
                                                <li>值班电话：0513- 85099211</li>
                                                <li>详细内容：<a href="http://www.nantong.gov.cn/art/2013/10/28/art_43919_1553841.html" target="_blank">http://www.nantong.gov.cn/art/2013/10/28/art_43919_1553841.html</a></li>
                                                <li>
                                                    <button type="button" class="btn btn-primary" onclick="sendToContact()">点击此处发送消息至以下联系人</button>
                                                    <ul>
                                                        <li>张三 15115625421</li>
                                                        <li>李四 15115625421</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="warning_list">
                            <div class="warning_title">前往<a href="http://www.nantong.gov.cn/" target="_blank">洪泽市政府网查询其它应急预案</a></div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>-->
</div>
